/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------*/

body{
  font-family:'pt_sansbold','maven_pro_light300','Roboto Slab','Open Sans','Lato', sans-serif;
  text-transform: uppercase;
  font-size: 25pt;
  line-height: 55px;
  letter-spacing: 0.1px;
  word-spacing: 0.1px;
  /*font-weight: 200;*/
}
#container{
   width: 100%;
}
#logo{
  width: 100%;
  position: fixed;
  z-index: 1000;
}
#logo img{
  margin:-130px auto;
  width: 79px;
  height: 73px;
  display: block;
}
/*#bgOne{
  background-image: url('../images/home.jpg'); background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:200px;
  z-index: -2;
}
#bgTwo{
  background-image: url('../images/home1.jpg'); background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  top:100px;
  left:200px;
  z-index: -1;
}*/

#aboutme{
  margin:250px auto;
  max-width: 1280px;
  width: 100%;
  background-color: red;
  padding: 40px;
  
}
@media (max-width: 1280px) and (min-width: 500px){
  #aboutme p {
  font-size: 25px;
  line-height: 45px;
  }
}
@media (max-width: 500px) and (min-width: 400px){
  #aboutme p{
    font-size: 21px;
    line-height: 40px;
  }
}

a{
  text-decoration: underline;
  color:black;
}
a:hover{
  color:#58ff8d;
  /*color:#e3ecf1;*/
}
a#title{
  font-size: 10pt;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  text-decoration: none;
}
a#work{
  font-family: 'pt_sansbold';
  text-decoration: none;
  
}
#see-work{
  width: 50%;
  margin: 80px auto;
  z-index: 900;
  background-color: blue;
  margin-top: -150px;
}
#see-work img{
  margin: 0 auto;
  width: 80px;
  display: block;
}




/*thumbnails section /////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#thumbnails_container{
  width: 100%;
  /*background:#EAEAEA;*/
  margin: 90px auto;
}
#thumbnails_section {
  overflow: hidden;
  margin: 90px auto;
  max-width: 1280px;
  width: 100%;
  background-color: yellow;
  padding-top: 20px;

}
.thumbnail_style{
  float: left;
  position: relative;
  overflow: hidden;
  width: 280px;
  margin: 0 20px 20px 20px;
  /*background-color: #fbf9f5;*/
  background-color: white;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  -moz-box-shadow: 0px 1px 1px #d1cec2;
  -webkit-box-shadow: 0px 1px 1px #d1cec2;
  box-shadow: 0px 1px 1px #d1cec2;
  text-decoration: none;
}
 h3.thumbnail_text{
   font-family:'maven_pro_light300';
  font-size: 11pt;
  font-weight: 400;
  color: black;
  padding:5px 0 0 25px;
}

/*example*/
.thumbnail_style:hover h3.thumbnail_text{
  color:#58ff8d;
 }
.thumbnail_style:hover .imgthumb{
  background-position: 0px -100px;
}

img.thumbnails{
  vertical-align: middle;
  max-width: 100%;
  position: relative;
}


/*Project pages /////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#header{
  width: 100%;
  position: fixed;
  z-index: 900;
}
#points{
  margin:-80px auto;
  width: 150px;
  position: relative;
  display: block;
}
#points img {
  width: 100%;
}
#points:hover img {
background: #58ff8d;
}
#content{
 width:85%;
 margin: 80px auto;
 background: grey;
}
#info_text{
  width:70%;
  padding-bottom: 20px;
  margin: 0 auto;
 /* border-bottom: black solid 1px;*/
}
.work{
  margin: 60px auto;
  background: yellow;
  position: relative;
}
.big-image {
  position: relative;
  width: 100%;
  height:750px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto; /* will stay the default height/width it is*/
  background-size: 100% auto; /* will be 100% width */
  background-size: contain; /* fits inside the avail space */
  margin-bottom: 20px;
}
p{
  font-family: 'maven_pro_light300';
}
h1{
  font-size: 22pt;
  color: black;
 /* color:#58ff8d;*/
  font-weight: bold;
  text-align: center;
  margin-bottom: -30px;

}
h2{
  font-size: 10pt;
  color: black;
  /*color:#58ff8d;*/
  text-align: center;
  padding-top: 2px;
}

#info_text>p{
  font-size:12pt;
  line-height:18pt;
  text-align: left;
  border-bottom: solid 1px;
  padding-bottom: 20px;
}






